<div class="container">
  <div class="post">
    <div class="text-container">
      <h1>Skulptūra "Drambliukas"</h1>
      <span>Užsakymas buvo gimtadienio dovanai. 21 cm drambliukas. Sunkiausia dalis buvo straublys. Man tai buvo šiek tiek kažkas naujo. Taip pat sunki drablio oda - jo raštas</span>
    </div>
    <img src="assets/dramblys.png">
  </div>
  <div class="post">
    <div class="text-container">
      <h1>Skulptūra "Drambliukas"</h1>
      <span>Užsakymas buvo gimtadienio dovanai. 21 cm drambliukas. Sunkiausia dalis buvo straublys. Man tai buvo šiek tiek kažkas naujo. Taip pat sunki drablio oda - jo raštas</span>
    </div>
    <img src="assets/dramblys.png">
  </div>
</div>
