.container{
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgba(128, 128, 128, 0.48);
  display: flex;
  align-items: center;
}

h2{
  color: #F1B32B;
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 4rem;
}

span{
  margin-right: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.profile-container{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}

.profile-picture{
  width: 50px;
  height: 50px;
  margin-inline: 2rem;
  border-radius: 5px;
}

.logout{
  width: 35px;
  height: 35px;
}

.profile-picture, .logout{
  cursor: pointer;
}

.search{
  border: none;
  background-color: #F0F1F5;
  border-radius: 20px;
  height: 30px;
  width: 240px;
  padding-left: 0.625rem;
  position: relative;
}

li{
  list-style-type: none;
  margin: 1rem;
  display: flex;
  align-items: center;
}

.search-results{
  top: 50px;
  position: absolute;
  width: 250px;
  height: auto;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.chat{
  width: 1rem;
  margin-left: 2rem;
  cursor: pointer;
}
