<div class="container">
  <div class="edit-profile-container">
      <h2>Mano profilis</h2>
      <div class="horizontal-line"></div>
    <div class="profile-picture-container">
      <span>Profilio nuotrauka</span>
      <div class="img-container">
        <img src="assets/pp.jpg">
        <p>Keisti</p>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="names-container">
      <span>Vardas ir pavardė</span>
      <input class="name" type="text">
      <input type="text">
    </div>
    <div class="horizontal-line"></div>
    <div class="phone-container">
      <span>Telefono numeris</span>
      <input type="text">
    </div>
    <div class="horizontal-line"></div>
    <div class="password-container">
      <div class="password">
        <span>Senas slaptažodis</span>
        <input type="password">
      </div>
      <div class="password">
        <span>Naujas slaptažodis</span>
        <input type="password">
      </div>
      <div class="password">
        <span>Pakartoti naują slaptažodį</span>
        <input type="password">
      </div>
    </div>
    <div class="horizontal-line"></div>
  </div>
</div>
