<div class="container">
<div class="user-profile-container">
  <img class="profile-picture" src="assets/pp.jpg">
  <div class="contact-information-container">
    <h2 class="name-and-surname">{{userInfo?.name}} {{userInfo?.surname}}<span class="master" *ngIf="userInfo?.is_master">(meistras)</span></h2>
    <span>{{userInfo?.birth_date}}</span>
    <span class="email">{{userInfo?.email}}</span>
    <span>{{userInfo?.phone_number}}</span>
  </div>
<!--  <div class="verticalLine"></div>-->
<!--  <div class="services-container">-->
<!--    <h2>Paslaugos</h2>-->
<!--    <ul>-->
<!--      <li>Dailidė 8€/h</li>-->
<!--      <li>Skulptorius 10€/h</li>-->
<!--      <li>Dailidė 8€/h</li>-->
<!--      <li>Skulptorius 10€/h</li>-->
<!--      <li>Dailidė 8€/h</li>-->
<!--      <li>Skulptorius 10€/h</li>-->
<!--    </ul>-->
<!--  </div>-->
  <div class="verticalLine"></div>
  <div class="contest-container">
    <span class="text">Šiais metais</span>
    <span class="number text">5</span>
    <span class="text">Dalyvauti konkursai</span>
  </div>
<!--  <div class="verticalLine schedule-line"></div>-->
<!--  <h2 class="schedule">Tvarkaraštis</h2>-->
<!--  <div class="schedule-container">-->
<!--    <span class="day">Pirmadienis - 8-14h</span>-->
<!--    <span class="day">Antradienis - 8-16h</span>-->
<!--    <span class="day">Trečiadienis - 8-12h, 14-16h</span>-->
<!--    <span class="day">Ketvirtadienis - 8-20h</span>-->
<!--    <span class="day">Penktadienis - 10-14h</span>-->
<!--    <span class="day">Šeštadienis - x</span>-->
<!--    <span class="day">Sekmadienis - x</span>-->
<!--  </div>-->
  <button class="edit-profile" (click)="redirecToEditProfile()">✎</button>
</div>
</div>
