<div class="filter-container">
  <h3>15 Aukcionų</h3>

  <div class="search-container">
    <div class="city-search">
      <label>Paieška pagal miestą</label>
      <input class="search" type="text" placeholder="Vilnius">
    </div>
    <div class="category-search">
      <label>Paieška pagal kategoriją</label>
      <input class="search" type="text" placeholder="Tinkavimas">
    </div>
  </div>

  <label class="price">Kaina</label>
  <div class="price-container">
    <div class="from-field">
      <label class="label-without-bold">Nuo</label>
      <input class="search-price" type="number" placeholder="€">
    </div>
    <div class="to-field">
      <label class="label-without-bold">Iki</label>
      <input class="search-price" type="number" placeholder="€">
    </div>
    <button class="search-button">Ieškoti</button>
  </div>

</div>

<div class="auctions-container">
  <div class="auction">
    <div class="auction-details">
      <span class="ends-in">Baigiasi: 2024-04-20 16:20</span>
      <span class="current-bid">Dabartinis statymas</span>
      <span class="bid">95€</span>
      <div class="master-info">
        <img class="profile-picture" src="assets/pp.jpg" alt="profile picture">
        <span class="name">Matas Matas</span>
      </div>
      <span class="city"><b>Miestas</b>: Vilnius</span>
      <span class="category"><b>Kategorijos</b>: tinkavimas, plytelių klijavimas</span>
      <div class="new-bid-container">
        <input class="new-bid" type="number" placeholder="94€ arba mažiau">
        <button class="bid-button">Pateikti statymą</button>
      </div>
    </div>
    <div class="auction-info">
      <div class="vertical-line"></div>
      <div class="description">
        <h2>Darbo aprašymas</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
  </div>
</div>
