<div class="filter-container" [formGroup]="searchForm">
  <h3 class="found-auctions">Rasta aukcionų: {{auctions.length}}</h3>

  <div class="search-container">
    <div class="city-search">
      <label>Paieška pagal miestą</label>
      <input class="search" type="text" placeholder="Vilnius" formControlName="city">
    </div>
    <div class="category-search">
      <label>Paieška pagal kategoriją</label>
      <select class="search sel" formControlName="category">
        <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
      </select>
    </div>
  </div>

  <label class="price">Kaina</label>
  <div class="price-container">
    <div class="from-field">
      <label class="label-without-bold">Nuo</label>
      <input class="search-price" type="number" placeholder="€" formControlName="price_from">
    </div>
    <div class="to-field">
      <label class="label-without-bold">Iki</label>
      <input class="search-price" type="number" placeholder="€" formControlName="price_to">
    </div>
    <button class="search-button" (click)="search()">Ieškoti</button>
    <button class="filter-button" (click)="clearFilter()">Panaikinti filtraciją</button>
  </div>

</div>

<div class="auctions-container">
  <h2 class="auctions-not-found" *ngIf="!auctions.length">Aukcionių nerasta</h2>
  <div class="auction" *ngFor="let auction of auctions">
    <div class="auction-details">
      <span class="ends-in">Baigiasi: {{auction.date}}</span>
      <div class="master-info">
        <span class="name"><b>Aukcioną sukūrė</b>: {{auction.creator_name}} {{auction.creator_surname}}</span>
      </div>
      <span class="city"><b>Miestas</b>: {{auction.city}}</span>
      <span class="category"><b>Kategorija</b>: {{auction.category}}</span>
      <span class="current-bid" *ngIf="!auction.ended">Dabartinis statymas</span>
      <span class="bid" *ngIf="!auction.ended">{{auction.price}}€</span>
      <div class="new-bid-container" [formGroup]="bidForm" *ngIf="!auction.ended">
        <input class="new-bid" type="number" placeholder="{{auction.price - 1}}€ arba mažiau" formControlName="bid">
        <button class="bid-button" (click)="bid(auction)">Pateikti statymą</button>
      </div>
      <div class="auction-end-container" *ngIf="auction.ended">
        <span class="auction-ended">Aukcionas baigėsi</span>
        <span class="winner" *ngIf="auction.winner_name"><b>Laimėtojas</b>: {{auction.winner_name}} {{auction.winner_surname}}</span>
        <span class="winner" *ngIf="!auction.winner_name">Nebuvo atlikti statymai</span>
      </div>
    </div>
    <div class="auction-info">
      <div class="vertical-line"></div>
      <div class="description">
        <h2>Darbo aprašymas</h2>
        <p>{{auction.description}}</p>
      </div>
    </div>
  </div>
</div>
