<div class="container">
  <div class="left-side-container">
    <img class="ellipse" src="assets/ellipse.png"/>
    <img class="double-ellipse" src="../../../assets/double-ellipse.png"/>
    <img class="logo" src="/assets/logo.png" />
  </div>
  <div class="right-side-container">
      <div class="login-text-container">
        <h2>Prisijungti</h2>
        <span>Pamatyk kas naujo pas meistrus</span>
      </div>
    <img class="symbol" src="assets/Figura.png"/>

    <div class="login-container">

      <form [formGroup]="loginForm">
      <div class="email-container">
        <label>El. paštas</label>
        <input class="email-field login-field" type="text" formControlName="email">
        <span *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">El.paštas yra privalomas laukas</span>
      </div>

      <div class="password-container">
        <label>Slaptažodis</label>
        <input class="password-field login-field" type="password" formControlName="password">
        <span *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
          <span *ngIf="password?.errors?.['required']" class="error-message">Slaptažodis yra privalomas laukas</span>
          <span *ngIf="password?.errors?.['invalidCredentials']" class="error-message">El.paštas ar slaptažodis yra klaidingas</span>
        </span>
        <div class="password-texts">
        <div class="check-container">
          <input class="checkbox" type="checkbox">
          <label class="remember-me">Prisiminti mane</label>
        </div>
          <span class="forgot-password">Pamiršau slaptažodį</span>
        </div>
      </div>

      <div class="button-container">
        <button class="login-button" [disabled]="!loginForm.valid" (click)="onSubmit()">Prisijungti</button>
      </div>
      </form>
    </div>

    <span class="not-registered">Neužsiregistravęs? <span class="marked" (click)="redirectToRegister()">Susikurk paskyrą čia</span></span>
  </div>
</div>
