* {
  box-sizing: border-box;
}

header{
  height: 50px;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  background-color: #FFE9D5;
}

img{
  width: 32px;
  height: 32px;
  float: right;
  margin-right: 1rem;
  cursor: pointer;
}

h2{
  color: #F1B32B;
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}
