<div class="container">
  <h2>Sukurti naują aukcioną</h2>
  <form [formGroup]="auctionForm">
    <label>Aukciono pabaigos data ir laikas</label>
    <br>
    <input class="field date-field" type="datetime-local" formControlName="date">
    <br>
    <span *ngIf="date?.invalid && (date?.dirty || date?.touched)" class="error-message">Data yra privalomas laukas</span>
    <span *ngIf="dateNotValid" class="error-message">Įvesta netinkama data</span>
    <div class="label-container">
      <label>Maksimali kaina</label>
      <input class="field price-field" type="number" formControlName="price">
      <span *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="error-message">Kaina yra privalomas laukas</span>
      <span *ngIf="priceNotValid" class="error-message">Maksimali kaina negali būti mažesnė už 2€</span>
    </div>
    <div class="label-container">
      <label>Miestas</label>
      <input class="field" type="text" formControlName="city">
      <span *ngIf="city?.invalid && (city?.dirty || city?.touched)" class="error-message">Miestas yra privalomas laukas</span>
    </div>
    <div class="label-container">
      <label>Kategorija</label>
      <select class="field" formControlName="category">
        <option *ngFor="let categorie of categories" [value]="categorie.name">{{categorie.name}}</option>
      </select>
      <span *ngIf="category?.invalid && (category?.dirty || category?.touched)" class="error-message">Kategorija yra privalomas laukas</span>
    </div>
    <div class="label-container">
      <label>Aprašymas</label>
      <textarea class="field" formControlName="description"></textarea>
      <span *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="error-message">Aprašymas yra privalomas laukas</span>
    </div>
  </form>
  <button [disabled]="!auctionForm.valid" (click)="closeDialog()">Sukurti</button>
</div>
